<% provide(:title, "Người dùng") %>
<h1>Tất cả người dùng</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><strong>ID | </strong></td>
      <td><strong>Email</strong></td>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td> </td>
        <td><%= link_to 'Chi tiết', user %></td>
        <td> </td>
        <td><%= link_to 'Chỉnh sửa', edit_user_path(user) %></td>
        <td> </td>
        <td><%= link_to 'Hủy', user, method: :delete, data: { confirm: 'Bạn có chắc không?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Tạo người dùng mới', new_user_path %>
