<% provide(:title, t(".users")) %>
<h1><%= t(".users") %></h1>

<table class="table">
  <thead>
    <tr>
      <th><strong>ID</strong></th>
      <th><strong>Email</strong></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= link_to t(".show"), user_path(user) %></td>
        <% if !user.admin? %>
        <td><%= link_to t(".destroy"), user, method: :delete, data: { confirm: t(".confirm") } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="row">
  <div class="col-md-9">
  </div>
  <div class="col-md-3">
    <p><%= will_paginate @users %></p>
  </div>
</div>
