<%= form_tag lessons_path, method: :get do %>    
  <div class="filter-list">
    <ul>
      <div class="card mb-3">      
        <div class="card-header text-white">        
          <li class="title">
            <a class="card-link" data-toggle="collapse" href="#collapseOne">
              <%= t ".by_grade" %>
            </a>
          </li>
        </div>
        <div id="collapseOne" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <%= render "grade" %>
          </div>
        </div>
      </div>
    </ul>
    <ul>
      <div class="card mb-3">      
        <div class="card-header text-white">        
          <li class="title">
            <a class="card-link" data-toggle="collapse" href="#collapseTwo">
              <%= t ".by_subject" %>
            </a>
          </li>
        </div>
        <div id="collapseTwo" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <%= render "subject" %>
          </div>
        </div>
      </div>
    </ul>
    <div class="filter-button"><%= submit_tag t(".filter"), class: "btn btn-orange", style: "width: 100%" %></div>
  </div>
  <br/>
<% end %>
