<%= form_with(model: @lesson, local: true) do |form| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-md">
        <%= form.label "Khối:", class: "col-form-label" %>
        <%= form.collection_select :grade_id, @grades, :id, :name, {}, class: "form-control form-control-sm custom-select" %>
    </div>
    <div class="form-group col-md">
      <%= form.label "Môn học:", class: "col-form-label" %>
      <%= form.collection_select :subject_id, @subject, :id, :name, {}, class: " form-control form-control-sm custom-select" %>
    </div>
    <div class="form-group col-md">
      <%= form.label "Bài:", class: "col-form-label" %>
      <%= form.number_field :title_lesson, class: "form-control form-control-sm" %>
    </div>
    <div class="form-group col-md">
      <%= form.label "Tiết:", class: "col-form-label" %>
      <%= form.number_field :title_unit, class: "form-control form-control-sm" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md">
      <%= form.label "Tên bài:", class: "col-form-label" %>
      <%= form.text_field :title_content, class: "form-control form-control-sm" %>
    </div>
  </div>
  
  <div class="row">
    <div class="form-group col-md-2">
      <h6 style="">Kiểm tra bài cũ:</h6>
      <%= form.label "Thời gian (phút):", class: "col-form-label"%>
      <%= form.number_field :last_lesson_time, class: "form-control form-control-sm" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md">
      <%= form.label "Nội dung:", class: "col-form-label" %>
      <%= form.text_area :last_lesson_content, class: "ckeditor" %>
    </div>
  </div>
  
  <div class="row">
    <div class="form-group col-md">
      <h6><%= form.label "Mục tiêu bài mới:", class: "col-form-label" %></h6>
      <%= form.text_area :object, class: "ckeditor" %>
    </div>
  </div>

  <div class="row">
    <h6 class="col-md">Giới thiệu bài mới</h6>
  </div>
  <div class="row">
    <div class="form-group col-md-2">
      <%= form.label "Thời gian (phút):" %>
      <%= form.number_field :intro_time, class: "form-control form-control-sm" %>
    </div> 
  </div>
  <div class="row">
    <div class="form-group col-md">
      <%= form.label "Nội dung:" %>
      <%= form.text_area :intro_content, class: "ckeditor" %>
    </div>
  </div>
  
  <div class="row">
    <h6 class="col-md">Giảng bài</h6>
  </div>
  <div class="row">
    <div class="form-group col-md-2">
      <%= form.label "Thời gian (phút):" %>
      <%= form.number_field :instruction_time, class: "form-control form-control-sm" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md">
      <%= form.label "Nội dung:" %>
      <%= form.text_area :istruction_content, class: "ckeditor" %>
    </div>
  </div>

  <div class="row">
    <h6 class="col-md">Tương tác/ Thực hành có hướng dẫn</h6>
  </div>
  <div class="row">
    <div class="form-group col-md-2">
      <%= form.label "Thời gian (phút):" %>
      <%= form.number_field :practice_time, class: "form-control form-control-sm" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md">
      <%= form.label "Nội dung:" %>
      <%= form.text_area :practice_content, class: "ckeditor" %>
    </div>
  </div>

  <div class="row">
    <h6 class="col-md">Học sinh làm việc độc lập</h6>
  </div>
  <div class="row">
    <div class="form-group col-md-2">
      <%= form.label "Thời gian (phút):" %>
      <%= form.number_field :working_time, class: "form-control form-control-sm" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md">
      <%= form.label "Nội dung:" %>
      <%= form.text_area :working_content, class: "ckeditor" %>
    </div>  
  </div>

  <div class="row">
    <h6 class="col-md">Nâng cao/ Củng cố</h6>
  </div>
  <div class="row">
    <div class="form-group col-md-2">
      <%= form.label "Thời gian (phút):" %>
      <%= form.number_field :diff_time, class: "form-control form-control-sm" %>
    </div> 
  </div>  
  <div class="row">
    <div class="form-group col-md">
      <%= form.label "Nâng cao (với học sinh khá):" %>
      <%= form.text_area :diff_support, class: "ckeditor" %>
    </div>
    <div class="form-group col-md">
      <%= form.label "Củng cố (với học sinh yếu):" %>
      <%= form.text_area :diff_enrich, class: "ckeditor" %>
    </div>
  </div>


  <div class="row">
    <h6 class="col-md">Đánh giá/ Tổng kết</h6>
  </div>
  <div class="row">
    <div class="form-group col-md-2">
      <%= form.label "Thời gian (phút):" %>
      <%= form.number_field :review_time, class: "form-control form-control-sm" %>
    </div> 
  </div>  
  <div class="row">
    <div class="form-group col-md">
      <%= form.label "Đánh giá:" %>
      <%= form.text_area :assess_content, class: "ckeditor" %>
    </div>
    <div class="form-group col-md">
      <%= form.label "Tổng kết:" %>
      <%= form.text_area :review_content, class: "ckeditor" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-2">
      <%= form.submit "Create", class: "btn btn-orange" %>
    </div>
  </div>
  <br/> 
<% end %>
