<div class="lesson-details bg-white border border-info">
  <div class="lesson-title boder border-bottom border-light">
    <div class="row">
      <div class="col-md-6">
        <span class="lesson-time text-muted">
          <%= t (".create_time") %><%= @lesson.created_at.strftime("%I:%M%p, %d/%m/%Y") %>    
        </span>
      </div>
      <div class="col-md-6">
        <% if @lesson.created_at != @lesson.updated_at %>
          <span class="lesson-time text-muted">
            <%= t (".update_time") %><%= @lesson.updated_at.strftime("%I:%M%p, %d/%m/%Y") %>    
          </span>
        <% end %>
      </div>
    </div>
    <div id="lesson-title" style="line-height: 2.5em">
      <%= image_tag("lesson.png", :alt => "lesson-plan-icon", style: "height: 2.5em;") %>
      <span class="type-lesson-plan"><%= t ".lesson" %></span>
      <span class="title-content"><%= @lesson.title_content %></span>   
    </div>
  </div><br/>
  <div class="text-justify">
    <div >
      <div>
        <h5><%= t (".last_lesson") %></h5>
        <i class="text-muted">
          (<%= @lesson.last_lesson_time %> phút)
        </i>
      </div>
      <div>
        <p><%= raw @lesson.last_lesson_content %></p>
      </div>    
    </div>

    <div>
      <div>
        <h5><%= t (".object") %></h5>
      </div>
      <div>
        <p><%= raw @lesson.object %></p>
      </div>    
    </div>

    <div>
      <div>
        <h5><%= t (".intro") %></h5>
        <i class="text-muted">
          (<%= @lesson.intro_time %> phút)
        </i>
      </div>
      <div>
        <p><%= raw @lesson.intro_content %></p>
      </div>    
    </div>

    <div>
      <div>
        <h5><%= t (".instruction") %></h5>
        <i class="text-muted">
          (<%= @lesson.instruction_time %> phút)
        </i>
      </div>
      <div>
        <p><%= raw @lesson.instruction_content %></p>
      </div>    
    </div>

    <div>
      <div>
        <h5><%= t (".practice") %></h5>
        <i class="text-muted">
          (<%= @lesson.practice_time %> phút)
        </i>
      </div>
      <div>
        <p><%= raw @lesson.practice_content %></p>
      </div>    
    </div>

    <div>
      <div>
        <h5><%= t (".working") %></h5>
        <i class="text-muted">
          (<%= @lesson.working_time %> phút)
        </i>
      </div>
      <div>
        <p><%= raw @lesson.working_content %></p>
      </div>    
    </div>

    <div>
      <div>
        <h5><%= t (".diff") %></h5>
        <i class="text-muted">
          (<%= @lesson.diff_time %> phút)
        </i>
      </div>
      <div>
        <b><%= t (".diff_support") %></b> 
          <p><%= raw @lesson.diff_support %></p>
        <b><%= t (".diff_enrich") %></b>
          <p><%= raw @lesson.diff_enrich %></p>
      </div>    
    </div>

    <div>
      <div>
        <h5><%= t (".review_assess") %></h5>
        <i class="text-muted">
          (<%= @lesson.review_time %> phút)
        </i>
      </div>
      <div>
        <b><%= t (".assess") %></b>
          <p><%= raw @lesson.assess_content %></p>
        <b><%= t (".review") %></b>
          <p><%= raw @lesson.review_content %></p>
      </div>    
    </div>
  </div>
</div>
