<% provide(:title, t(".show_lesson")) %>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="lesson-details bg-white border border-info">
        <div class="lesson-title boder border-bottom border-light">
          <div>
            <span class="lesson-time text-muted">
              <%= @lesson.created_at.strftime("%I:%M%p, %d/%m/%Y") %>    
            </span>
          </div>
          <div id="lesson-title" style="line-height: 2.5em">
              <%= image_tag("lesson.png", :alt => "lesson-plan-icon", style: "height: 2.5em;") %>
              <span class="type-lesson-plan"><%= t ".lesson" %></span>
              <span class="title-content"><%= @lesson.title_content %></span>   
          </div>
        </div><br/>
        <%= render "lesson_details" %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="lesson-details bg-white border border-info">
        <div class="filter-button">
          <%= hidden_field_tag submit_tag t(".download"), class: "btn btn-orange", style: "width: 100%" %>
        </div><br/>
        <p>
          <strong><%= t ".user" %></strong>
          <%= link_to @lesson.user.email, user_path(@lesson.user) %>
        </p>
        <p>
          <strong><%= t ".grade" %></strong>
          <%= @lesson.grade.name %>
        </p>
        <p>
          <strong><%= t ".subject" %></strong>
          <%= @lesson.subject.name %>
        </p>
        <div class="row">
          <div class="col-md">
            <strong><%= t ".title_lesson" %></strong>
            <%= @lesson.title_lesson %>
          </div>
          <div class="col-md">
            <strong><%= t ".title_unit" %></strong>
            <%= @lesson.title_unit %>
          </div>
        </div>
        <% if logged_in? && current_user == @lesson.user %>
        <%= link_to t(".edit"), edit_lesson_path, class: "lesson-edit", "data-turbolinks" => false %> |
        <%= link_to t(".delete"), lesson_path, method: :delete, data: { confirm: t(".confirm") }, class: "lesson-delete" %> 
        <% elsif logged_in? && (current_user.admin? || current_user.id == @lesson.user_id) %>
        <%= link_to t(".delete"), lesson_path, method: :delete, data: { confirm: t(".confirm") }, class: "lesson-delete" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
