<footer class="page-footer font-small unique-color-dark">
  <div class="text-center text-md-left mt-5 border-top" style="background-color: rgba(70,70,70,0.8); color: white;">
    <div class="container">
      <div class="row mt-2">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-1">
          <h6 class="text-uppercase font-weight-bold"><%= t ".name" %></h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" >
          <p><%= t ".team" %></p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-1">
          <h6 class="text-uppercase font-weight-bold"><%= t ".help" %></h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <%= link_to t(".about"), about_path, class: "footer_link" %>
          </p>
          <p>
            <a href="https://docs.google.com/document/d/1-H9OWFL9HyrF9X-0V7bMS6oiJy8mPtVNxTmDKyGFGik/edit#" class="footer_link"><%= t ".use" %></a>
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-1" style="margin: 0;">
          <h6 class="text-uppercase font-weight-bold"><%= t ".contact" %></h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fa fa-home mr-3"></i><%= t ".address" %></p>
          <p>
            <i class="fa fa-envelope mr-3"></i><%= t ".mail" %></p>
          <p>
            <i class="fa fa-phone mr-3"></i><%= t ".phone" %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-1" style="background-color: #464646; color: white;"><%= t ".copyright" %>
    <br/><a href="http://saokhuee.com" class="footer_link"> http://saokhuee.com </a>
  </div>
</footer>
