<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span>
      <a class="navbar-brand" href="<%= lessons_path %>">
        <%= image_tag("logo.png", :alt => "logo") %><span class="nav-text">Lessonplans</span>
      </a>
      </span>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to 'Tạo bài học mới', new_lesson_path, class: "nav-link", "data-turbolinks" => false %>          
        </li>
      </ul>

      <% if !user_signed_in? %>
        <%= link_to 'Đăng nhập', new_user_session_path, class: "nav-link" %>
        <%= link_to "Đăng ký", new_user_registration_path, class: "nav-link" %>
      <% else %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Tài khoản của tôi <b class="caret"></b>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <% if !current_user.admin? %>
              <li><strong><%= current_user.email %></strong></li>
              <li class="dropdown-divider"></li>
              <li><%= link_to "Chỉnh sửa tài khoản", edit_user_registration_path, class: "dropdown-item" %></li>
              <li class="dropdown-divider"></li>
              <li><%= link_to "Đăng xuất", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
            <% elsif current_user.admin? %>
              <li><strong><%= current_user.email %></strong></li>
              <li class="dropdown-divider"></li>
              <li><%= link_to "Chỉnh sửa tài khoản", edit_user_registration_path, class: "dropdown-item" %></li>
              <li><%= link_to "Người dùng", users_path, class: "dropdown-item" %></li>
              <li class="dropdown-divider"></li>
              <li><%= link_to "Đăng xuất", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </div>
  </nav>
</header>