<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span>
      <a class="navbar-brand" href="<%= lessons_path %>">
        <%= image_tag("logo.png", :alt => "logo") %><span class="nav-text"><%= t ".lesson" %></span>
      </a>
      </span>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to t(".new_lesson"), new_lesson_path, class: "nav-link", "data-turbolinks" => false %>          
        </li>
      </ul>

      <% if !user_signed_in? %>
        <%= link_to 'Log In', new_user_session_path, class: "nav-link" %>
        <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
      <% else %>
        <li class="dropdown">
          <a href="<%= user_path(current_user) %>" class="dropdown-toggle" data-toggle="dropdown">
            Quản lý tài khoản <b class="caret"></b>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <% if !current_user.admin? %>
              <li class="fas fa-user-circle"><strong><%= link_to current_user.email, user_path(current_user) %></strong></li>
              <li class="dropdown-divider"></li>
              <li><%= link_to "Chỉnh sửa thông tin", edit_user_registration_path, class: "dropdown-item" %></li>
              <li class="dropdown-divider"></li>
              <li><%= link_to "Đăng xuất", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
            <% elsif current_user.admin? %>
              <li class="fas fa-user-circle"><strong><%= current_user.email %></strong></li>
              <li class="dropdown-divider"></li>
              <li><%= link_to "Chỉnh sửa thông tin", edit_user_registration_path, class: "dropdown-item" %></li>
              <li><%= link_to "Quản lý người dùng", users_path, class: "dropdown-item" %></li>
              <li class="dropdown-divider"></li>
              <li><%= link_to "Đăng xuất", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </div>
  </nav>
</header>
